* {
    box-sizing: border-box;
    margin: 0;
    
}

/* Font-Family: 'Arvo', Serif;
Font-Size: 44px;
Font-Family: 'Lato', Sans-Serif;
Font-Size: 16px; */



.logout-button {
    position: absolute;
    float:right;
    width: 200px;
    z-index: 2;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
   
}

/* ////////////////AUTH//////////////////////// */

.auth-container {
    background-image: url('./assets/space-background.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    
}

.title {
    background-image: url('./assets/Title.png');
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 700px;
    /* background-color: white; */
    align-content: center;
    /* z-index: 2; */
    margin-left: 200px;
    padding: 10px;

}

.login-signup {
    background-color: white;
    width: 400px;
    height: 400px;
    position: absolute;
    align-content: center;
    text-align: center;
    padding: 20px;
    margin-left: 36%;
    margin-top: 20%;
    border-radius: 20px;
}

.auth-form {
    padding: 50px;
    Font-Family: 'Arvo', Serif;
    Font-Size: 44px;
    
}

.welcome-text {
    font-size: 40px;
    Font-Family: 'Arvo', Serif;
}

.auth-input {
    padding: 8px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    align-content: center;
}

.login-button{
    padding: 10px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 30px;
    z-index: 10;
}

.toggle-button {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px;
}



/* ///////////////////////////AUTH ////////////////////////////// */





/* /////////////////////HOME//////////// */
.home-container {
    background-color: lightcoral;
    background-image: url('https://i.imgur.com/hMo1bw7.png');
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
    
}




.astroid-home {
    position: absolute;
    background-image: url('./assets/astroid.png');
    /* background-color: red; */
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    width: 150px;
    height: 100px;
    /* z-index: 9; */
    animation-name: astro-move;
    animation-duration: 10s;
    animation-direction: reverse;  
    animation-iteration-count: 3;
}

@keyframes astro-move {
    /* end */
    0%   { left:0px; top:0px; }
    /* leg 3 */
    25%  { left:1450px; top:0px; }
    /* leg 2 */
    50%  { left:1000px; top:800px; }
    /* leg 1 */
    75%  { left:0px; top:600px; } 
    /* start */
    100% { left:0px; top:0px; }
    
  }

  .home-text {

  }

  .next-intro{
      float:right;
      margin-top: 30%;
      margin-right: 5%;
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 10px;
      padding-bottom: 10px;
      border-radius: 20px;
      font-size: 30px;
      /* margin: 40px; */
      text-decoration: none;
      background-color: white;
      animation-name: button-animation;
      animation-delay: 1s;
  }

  a:link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: red;
   
   
}

  @keyframes button-animation {
    from {background-color: white}
    to {background-color: dodgerblue}
  }





/* ///////////////////////////HOME//////////// */


/* //////////////////////////////PREPARE //////////////////////////////*/
.prepare-container {
    background-image: url('https://i.imgur.com/hMo1bw7.png');
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
}


/* //////////////////////////////PREPARE ///////////////////////*/

/* ///////////GAME //////////////////////////////////////////////// */
.game-container {
    background-color: lightseagreen;
    height: 100vh;
    background-image: url('./assets/game-background.png');
    background-position: center;
    background-size: cover;
    position: relative;
    
}






.game-board {
    margin-top: 180px;
    width: 600px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/998641/pexels-photo-998641.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    position: relative;
    border: 3px whitesmoke solid;
    z-index: 1;
}

.player {
    position: absolute;
    background-image: url('./assets/DonnyDino.png');
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 90px;
    z-index: 10;

}

.astroid {
    position: absolute;
    background-image: url('./assets/astroid.png');
    /* background-color: red; */
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 50px;
    z-index: 9;
}


.stay-game {
    position: fixed;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20%;
}


.gameover-next {
    /* float:right; */
    margin-top: 30%;
    margin-right: 55%;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-size: 30px;
    /* margin: 40px; */
    text-decoration: none;
    background-color: white;
    animation-name: button-animation;
    animation-delay: 1s;
}






/* /////////GAME//////////////////////////// */





/* ////GAME-OVER////////////////////////// */
.gameover-container {
    
    background-image: url('https://i.imgur.com/hMo1bw7.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: black;
    overflow: hidden;
   
}


.play-again{
    z-index: 10;
    position: absolute;
    width: 200px;
    margin-top: 100px;
    height: 50px;
    background-color: white;
}


.gameOver-title {
    position: absolute;
    background-image: url('./assets/game-over.png');
    background-position: center;
    background-size: cover;
    align-content: center;
    height: 120%;
    width: 100%;
    /* z-index: 3; */
  
   
}



.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  /* background-image: linear-gradient(0deg, transparent, black 75%); */
  /* z-index: 1; */
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}


@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
