* {
    box-sizing: border-box;
    margin: 0;
    
}

/* Font-Family: 'Arvo', Serif;
Font-Size: 44px;
Font-Family: 'Lato', Sans-Serif;
Font-Size: 16px; */







.logout-button {
    position: absolute;
    float:right;
    width: 200px;
    z-index: 2;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 5px;
    Font-Family: 'Lato', Sans-Serif;
    padding-bottom: 5px;
    border-radius: 20px;
    font-size: 20px;
    text-decoration: none;
    background-color: white;
   
}

/* ////////////////AUTH//////////////////////// */

.auth-container {
    background-image: url('./assets/space-login-background.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    width: 100%;
    
}



.title {
    background-image: url('./assets/Title.png');
    position: absolute;
    margin-top: 100px;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 1400px;
    /* background-color: white; */
    align-content: center;
    /* z-index: 2; */
    /* margin-left: 9%; */
    padding-bottom: 10px;

}

.login-signup {
    background-color: white;
    position: absolute;
    align-content: center;
    text-align: center;
    padding: 20px;
    width: 500px;
    height: 500px;
    /* margin: 0 auto; */
    border: 30px;
    margin-top: 200px;
    display: block;
    max-width: 100%;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.auth-form {
    padding: 50px;
    Font-Family: 'Arvo', Serif;
    Font-Size: 44px;
    
}

.welcome-text {
    font-size: 40px;
    Font-Family: 'Arvo', Serif;
}

.auth-input {
    padding: 8px;
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    align-content: center;
}

.login-button{
    padding: 15px;
    border-radius: 30px;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 30px;
    z-index: 10;
    
}

.toggle-button {
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10px;
}



/* ///////////////////////////AUTH ////////////////////////////// */





/* /////////////////////HOME//////////// */
.home-container {
    background-color: black;
    background-image: url('./assets/space-title-only.png');
    height: 150vh;
    position: relative;
    background-position: center;
    background-size: cover;
    
}


.next-intro{
    float:right;
    position: relative;
    z-index: 5000;
    margin-bottom: 80px;
    margin-right: 5%;
    /* margin-top: 40%; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Lato', Sans-Serif;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;
    background-color: white;  
}


.astroid-home {
    position: absolute;
    background-image: url('./assets/astroid.png');
    /* background-color: red; */
    background-position: center;
    background-size: cover;
    margin-top: 50px;
    width: 150px;
    height: 100px;
    animation-name: astro-move;
    animation-duration: 10s;
    animation-direction: reverse;  
    animation-iteration-count: 2;
}

@keyframes astro-move {
    /* end */
    0%   { left:0px; top:0px; }
    /* leg 3 */
    25%  { left:1450px; top:0px; }
    /* leg 2 */
    50%  { left:1000px; top:800px; }
    /* leg 1 */
    75%  { left:0px; top:600px; } 
    /* start */
    100% { left:0px; top:0px; }
    
  }

  

  
  a:link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: red;
   
   
}







/* ///////////////////////////HOME//////////// */


/* //////////////////////////////PREPARE //////////////////////////////*/
.prepare-container {
    background-image: url('https://i.imgur.com/hMo1bw7.png');
    height: 100vh;
    position: relative;
    background-position: center;
    background-size: cover;
}

.game-next {
    float:right;
    z-index: 10;
    margin-bottom: 80px;
    margin-right: 5%;
    margin-top: 30%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;
    background-color: white;
}

.prep-title {
    background-image: url('./assets/Title.png');
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 55%;
    width: 700px;
    margin-top: 1%;
    /* background-color: white; */
    align-content: center;
    /* z-index: 2; */
    margin-left: 19%;
    padding-bottom: 10px;

}

.instructions {
    position: absolute;
    width: 500px;
    height: 300px;
    margin-left: 105%;
    /* margin-top: 320px; */
}

.astro-count {
    float:right;
    position: absolute;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 23px;
    width: 300px;
    text-align: center;
    /* margin-bottom: 80px; */
    /* margin-left: 105%; */
    /* margin-top: 45%; */
    background-color: #ffffff;
    border-radius: 20px;
    width: 250px;
    height: 60px;
    margin-bottom: 10px;
}

.instructions-img {
    
    background-image: url('./assets/arrow-keys.png');
    background-color: #ffffff;
    width: 250px;
    height: 150px;
    margin-top: 80px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    
}

.instructions-text {
    color: black;
    width: 250px;
    margin-top: 20px;
    
    height: 150px;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 23px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    line-height: 30px;
    
    
}



/* ///////////////////SIDEBAR////////////////////// */

.wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .main,
  .sidebar {
    /* border: 3px solid black; */
    margin-top: 40%;
    padding: 15px;
    /* background-color: #fff; */
  }
  
  /* .main {
    width: 60%;
    height: 150vh;
  } */
  
  .sidebar {
    width: 25%;
    height: 25vh;
  }
  
  body {
    background-color: #ccc;
    font-family: sans-serif;
    padding: 10px;
  }

/* //////////////////////////////PREPARE ///////////////////////*/

/* ///////////GAME //////////////////////////////////////////////// */
.game-container {
    background-color: lightseagreen;
    height: 100vh;
    background-image: url('./assets/space-background.png');
    background-position: center;
    background-size: cover;
    position: relative;
    align-items: center;
    
}



.game-board {
    margin-top: 400px;
    display: block;
    max-width: 100%;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-image: url('./assets/earth-gameboard.png');
    position: relative;
    border: 3px whitesmoke solid;
    z-index: 1;
    
}

.player {
    position: absolute;
    background-image: url('./assets/DonnyDino.png');
    background-position: center;
    background-size: cover;
    width: 150px;
    height: 90px;
    z-index: 10;

}


.player-flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.astroid {
    position: absolute;
    background-image: url('./assets/astroid.png');
    /* background-color: red; */
    background-position: center;
    background-size: cover;
    width: 70px;
    height: 50px;
    z-index: 9;
}


.stay-game {
    position: fixed;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 20%;
}


.gameover-next {
    float:right;
    margin-bottom: 80px;
    /* margin-right: 5%; */
    margin-top: 400px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 23px;
    border-radius: 20px;
    font-size: 30px;
    text-decoration: none;
    background-color: white;  
}
.game-title {
    background-image: url('./assets/Title.png');
    position: absolute;
    background-position: center;
    background-size: cover;
    height: 45%;
    width: 700px;
    margin-top: 1%;
    /* background-color: white; */
    align-content: center;
    /* z-index: 2; */
    margin-left: 19%;
    padding-bottom: 10px;
}



.high-score {
    color: white;
}

.paused {
    background-image: url('./assets/paused-space-dinos.png');
    position: relative;
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 400px;
    z-index: 10;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.none {
    display: none;
}
/* /////////GAME//////////////////////////// */





/* ////GAME-OVER////////////////////////// */
.gameover-container {
    
    background-image: url('https://i.imgur.com/hMo1bw7.png');
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: black;
    overflow: hidden;
    align-items: center;
   
}


.play-again{
    position: absolute;
    width: 500px;
    align-items: center;
    margin-top: 27%;
    margin-left: 35%;
    text-align: center;
    height: 60px;
    background-color: white;
    Font-Family: 'Lato', Sans-Serif;
    Font-Size: 23px;
    border-radius: 20px;
    z-index: 2;
}

.playAgainText {
    text-align: center;
    margin-left: 35%;
}

.gameOver-title {
    position: absolute;
    background-image: url('./assets/game-over.png');
    background-position: center;
    background-size: cover;
    align-content: center;
    height: 120%;
    width: 100%;
    /* z-index: 3; */
  
   
}



.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  /* top: -25px; */
  /* background-image: linear-gradient(0deg, transparent, black 75%); */
  /* z-index: 1; */
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 300px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
  position: relative;
  /* top: 99999px; */
  z-index: 10;
  transform-origin: 50% 100%;
  animation: crawl 60s linear;
}


@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}


.users {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
  }



/* ////////////////////////////////////Media queries///////////////////////////////// */




