* {
    box-sizing: border-box;
}



.auth-container {
    background-color: lightyellow;
}

.home-container {
    background-color: lightcoral;
}

.intro-container {
    background-color: lightgreen;
}

.prepare-container {
    background-color: lightsalmon;
}

/* ///////////GAME //////////////////////////////////////////////// */
.game-container {
    background-color: lightseagreen;
}

.game-board {
    width: 600px;
    height: 600px;
    background-color: cornflowerblue;
    position: relative;
    border: 1px black solid;
}

.player {
    position: absolute;
}

.gameover-container {
    background-color: lightskyblue;
}

